<div class='search-box'>
<h3>Search</h3>

<%= form_tag("/search", method: "get") do %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Chill") %>
<% end %>
</div>
<div class="new-article">
<%= button_to "Create a New Article", new_article_path, :method => :get %>
</div>
<div class="featured-articles">
  <h2>Featured Articles</h2>
  <% if @featured_articles.any? %>
    <% @featured_articles.each do |article| %>
      <div class="version-links featured-article"><i><%= link_to "#{article.latest_version.title}", article_version_path(article, article.latest_version) %></i> by: <%= article.latest_version.author.username %> written on <%= article.latest_version.updated_at.strftime('%c') %></div>
    <% end %>
  <% end %>
</div>
