<h2><%= @article.title %></h2>

<article class="article-content">
  <p>
  <%= @article.latest_version.content %>
  </p>
  <small>-Written by: <%= @article.latest_version.author.username %> on <%=  @article.latest_version.created_at.strftime('%c') %></small>
</article>


<% if @article.prior_versions.any? %>
<div class="version-container">
  <h5>Previous Versions</h5>
  <ul>
    <% @article.prior_versions.each do |version| %>
       <li><small>Version by: <%= version.author.username %> written on <%= version.created_at.strftime('%c')  %></small>
      </li>
    <% end %>
  </ul>
</div>
<% end %>
