<h2><%= @shown_version.title %></h2>

<article class="article-content">
  <p>
    <%= @shown_version.content.html_safe %>
  </p>
  <small>-Written by: <%= @shown_version.author.username %> on <%=  @shown_version.created_at.strftime('%c') %></small>
</article>

<p><%= link_to "Contribute to this article", article_versions_path(@article), method: 'post' %>

<div class="version-container">
  <h5>Time Machine:</h5>
  <ul>
    <% @article.ordered_versions.each do |version| %>
      <% if version == @shown_version %>
        <li class="shown-version"><small><i><%= version.title %></i> by: <%= version.author.username %> written on <%= version.created_at.strftime('%c') %></small></li>
      <% else %>
       <li class="version-links"><small><i><%= link_to "#{version.title}", article_version_path(@article, version) %></i> by: <%= version.author.username %> written on <%= version.created_at.strftime('%c') %></small></li>
      <% end %>
    <% end %>
  </ul>
</div>
