<h2><%= @article.title %></h2>

<div id="featured-article">
  <% if @article.is_featured %>
    <h4><em>Featured Article</em></h4>
  <% else %>

    <% if user_is_admin? %>
      <%= form_tag @article, method: "patch" do %>
        <%= hidden_field_tag :"article[is_featured]", true %>
        <%= submit_tag "Feature this article" %>
      <% end %>
    <% end %>

  <% end %>
</div>

<article class="article-content">
  <p>
    <%= @article_version.content.html_safe %>
  </p>
  <small>-Written by: <%= @article_version.author.username %> on <%=  @article_version.updated_at.strftime('%c') %></small>
</article>

<% if @error_message %>
  <ul>
    <li><%= @error_message %></li>
  </ul>
<% end %>

<p><%= link_to "Contribute to this article", article_versions_path(@article), method: "post" %>

<div class="version-container">
  <h5>Time Machine:</h5>
  <ul>
    <% @article.saved_versions.each do |version| %>
      <% if version == @article_version %>
        <li class="shown-version"><small>Version by: <%= version.author.username %> written on <%= version.created_at.strftime('%c')  %></small></li>
      <% else %>
       <li class="version-links"><small><%= link_to "Version by #{version.author.username} written on #{version.created_at.strftime('%c')}", article_version_path(@article, version) %></small></li>
      <% end %>
    <% end %>
  </ul>
</div>
